@media screen and (min-width:1340px){
    .botao-menu{
        display: none;
    }
    .menu{
        margin-top: 0;
        padding-top: 30px;
        height: 95.2vh;
    }
}
@media screen and (max-width:500px){
    .menu{
        width: 100vw;
    }
    .botao-menu{
        width: 100vw;
        padding-right: 85%;
    }
    .item{
        transform: scale(1.2);
        font-weight: 500;
        border-bottom: 1px solid;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .form-cad{
        position: absolute;
        left: 0;
        width: 250px;
        margin-top: 80px;
        margin-left: 7px;
        padding-top: 20px;
    }
    .tit-form{
        font-size: 26px;
    }
    .inputs{
        width: 230px;
    }
    .label-acesso{
        position: relative;
        left: -80px;
    }
    #tipo{
        width: 230px;
    }
    .label-tipo{
        left: -50px;
    }
}